nav{
    background-color: #292929;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
nav h1{
    color: aliceblue;
    padding-right: 70px;
    padding-left: 20px;
    padding-top: 10px;
}
nav a{
    text-decoration: none;
}
h1#admin{
    position: absolute;
    left: 1350px;
}
.secondNav{
    position: relative;
    top: 10px;
    display: flex;
    flex-direction: row;
}
.secondNav h1{
    margin-left: 40px;
    font-size: 20px;
}
.secondNav a{
    text-decoration: underline;
    color: black;
}