nav{
    background-color: #292929;
    padding-right: 10px;
    display: flex;
    flex-direction: row;
}
nav h1{
    color: aliceblue;
    padding-right: 40px;
    padding-left: 20px;
    padding-top: 10px;
}
nav a{
    text-decoration: none;
}