.club_pos{
    position: absolute;
    left: 600px;
    top: 100px;
}
.info{
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    width: 370px;
    height: 550px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border-radius: 8px;
    background-color: white;
}
.container{
    margin-bottom: 10px;
    margin-left: 10px;
}
.club p{
    opacity: 0.7;
    margin-top: -20px;
}
.button-27 {
    appearance: none;
    background-color: #292929;
    border: 2px solid #1A1A1A;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    width: 300px;
    margin-top: 10px;
}
  
.button-27:disabled {
    pointer-events: none;
}
  
.button-27:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
.button-27:active {
    box-shadow: none;
    transform: translateY(0);
  }
.map{
    width: 300px;
    height: 180px;
    border-radius: 8px;
}
.contacts{
    display: flex;
    flex-direction: row;
    margin-right: 20px;
}

.imgContainer{
    display: block;
    justify-content: space-between;
    position: relative;
    bottom: 550px;
    left: 800px;
}
.slide{
    position: absolute;
    top: 0;
    left: -150px;
    width: 650px;
    height: 400px;
    object-fit: cover;
    transition: transform 150ms cubic-bezier(0.25, 0.46, 0.45, 0.84);
    border-radius: 0.5em;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
}
.slide:hover {
    transform: scale(1.025);
}
.nextPrev{
    position: absolute;
    top: 275px;
    justify-content: space-between;
}
.nextPrev button{
    border-radius: 50%;
    font-size: 50px;
    width: 70px;
    height: 70px;
    text-align: center;
    border: none;
}
.nextPrev button:hover{
    opacity: 0.8;
    transition: 1s;
}
.nextPrev button#prev{
    position: relative;
    right: 140px;
}
.nextPrev button#next{
    position: relative;
    left: 350px;
}
.slideImages{
    position: relative;
    display: inline-block;
    top: 450px;
    right: 120px;
    padding: -10px;
    padding-bottom: -15px;
    margin-bottom: -50px;
    margin-top: -38px;
    width: 570px;
    vertical-align: top;
    white-space: nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
.slideImages img{
    width: 100px;
    height: 110px;
    border-radius: 8px;
    border: #D3D3D3 solid;
    margin: 10px;
}
#underSlide{
    cursor: pointer;
}
#underSlide:hover{
    transition: 0.6s;
    margin-bottom: 5px;
    box-shadow: 0 2px rgb(145, 141, 141);
}