<div> 
  <div class="info">
    <div class="card">
      <h5 class="card-header">{{club.name}}</h5>
      <div class="card-body">
        <h5 class="card-title">{{club.rating}}</h5>
        <p class="card-text">some instagramm, contacts, adress </p>
        <h1>2Gis integration</h1>
        <button class="btn btn-success" (click)="goToPlaces(club.id)"><span>
          Забронировать
        </span></button>
      </div>
    </div>
  </div>

</div>

<div *ngIf="isOpen">
    <div class="booking">
        <button (click)="closeBook()">Close</button>
        <div class="mainPlaces">
          <div class="mainVip">
            <button class="btn btn-primary" (click)="showPlaces('main')" [ngClass]="{'active': mainPlacesVisible}">Main</button>
            <button class="btn btn-primary" (click)="showPlaces('vip')" [ngClass]="{'active':vipPlacesVisible}">Vip</button>
          </div>
            <div class="appearPlaces">
                <ul *ngFor="let place of mainPlaces">
                  <div>
                    <button class="selectPlace" [ngStyle]="{'background-color':place.availability === 'booked' ? 'red':'green'}">
                      <span>{{place.place_id}}</span>
                    </button>
                  </div>
                </ul>

                <ul *ngFor="let place of vipPlaces">
                  <div>
                    <button class="selectPlace" [ngStyle]="{'background-color':place.availability === 'booked'?'red':'green'}">
                      <span>{{place.place_id}}</span>
                    </button>
                  </div>
                </ul> 
            </div>
        </div>
    </div>
</div>

<!-- <div class="places">
    <div>
        <button class="btn btn-primary" (click)="showPlaces('main')" >Main</button>
        <button class="btn btn-primary" (click)="showPlaces('vip')">Vip</button>
    </div>
    <div *ngFor="let place of mainPlaces">
        <h1>{{place.place_id}}</h1>
    </div>
    <div *ngFor="let place of vipPlaces">
        <h1>{{place.place_id}}</h1>
    </div>
</div> -->