.search{
    position:absolute;
    top: 150px;
    left: 140px;
    padding: 10px;
    padding-top: 10px;
}
.photo{
    width: 250px;
    position: relative;
    left: 750px;
    top: 60px;
}
.photo img{
    width: 700px;
    size: 50%;
    border-radius: 10px;
}
h1#description{
    font-size: 50px;
    position: relative;
    right: 35px;
    margin-top:10px ;
}
.searchIng{
    position: relative;
    right: 50px;
    top:100px;
    border: none;
    width: 600px;
    height: 80px;
    padding-left:10px;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border-radius: 8px;
}
.searchIng input{
    width: 500px;
    height: 70px;
    border-radius: 8px;
    border: none;
    position: relative;
    top: 2px;
    padding-left: 10px;
    font-size: 20px;
}
input:focus{
    outline: none;
}
.searchIng button{
    margin-left: 14px;
    width: 50px;
    background-color: white;
    position: relative;
    top: 10px;
    border: none;
}
.company{
    position: relative;
    width: 700px;
    left: 100px;
    top: 400px;
    display: flex;
    flex-direction: row;
    padding-bottom: 45px;
}
.company span{
    margin-left: 10px;
}
.searchClubs{
    width: 370px;
    position: relative;
    right: 50px;
    bottom: 30px;
    background-color: rgb(255, 255, 255);
    border: none;
    box-shadow: 0 0 5pt 0.5pt #D3D3D3;
    border-radius: 8px;
}
.searchClubs img{
    size: 50%;
    border-radius: 50%;
    width: 45px;
}
.clubsAppear{
    display: flex;
    flex-direction: row;
    background-color: #fbfbfb;
}
.clubsAppear:hover{
    background-color: #D3D3D3;
    cursor: pointer;
}
