<div class="search">
    <div>
        <h1 id="description">Бронируйте места онлайн</h1>
        <h1 id="description">Поиск компютерных </h1>
        <h1 id="description">клубов</h1> 
    </div>
    <p style="position: relative;top:90px;right: 45px; font-size: 15px;"> У антимага сегодня день рождение</p>
    <div class="searchIng">
        <mat-form-field>
            <input matInput type="text" [(ngModel)]="searchClub" [matAutocomplete]="auto">
            <button type="button"><i class="fa fa-search" style="font-size: 50px;"></i></button>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let club of clubs | filter:searchClub" [value]="club">
                    <h1>{{club.name}}</h1>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>  
    
    <!-- <div class="searchClubs" *ngIf="clubVisible">
        <div *ngFor="let club of clubs" >
            <div class="clubsAppear">
                <img [src]="club.photoUrl">
                <h1>{{club.name}}</h1>
            </div>
        </div>
    </div> -->
</div>
<div class="photo">
    <img src="assets/club.jpg">
</div>
<div class="company">
    <p> <strong> О компании</strong></p>
    <span>
        Это сервис которая помогает бронировать места в компьютерных клубах онлайн <br>
        не выходя из дом. <br> не приходится много раз звонить когда линиий заняты, или долго
        ожидать ответа на Whatsapp. Бронь проходит в онлайн режиме <br>
        На BronClub собраны большое количество игровых клубов Алматы, Астана
    </span>
</div>